<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>277633128436-cfod29ac32gh0o3u7k41tff7qk6rfovm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277633128436-cfod29ac32gh0o3u7k41tff7qk6rfovm</string>
	<key>API_KEY</key>
	<string>AIzaSyDbzGUR7Tyc2MV28kgwaVrTbPThANI5Npk</string>
	<key>GCM_SENDER_ID</key>
	<string>277633128436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>adelbios.com.Venom</string>
	<key>PROJECT_ID</key>
	<string>venomapp-s</string>
	<key>STORAGE_BUCKET</key>
	<string>venomapp-s.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277633128436:ios:ed2bda2a5f027e4d</string>
	<key>DATABASE_URL</key>
	<string>https://venomapp-s.firebaseio.com</string>
</dict>
</plist>